@model PowerMeter.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Nazwa urządzenia:</dt>
        <dd>
            @Html.TextBoxFor(m => m.deviceName)
            <button id="UpdateDeviceName">Akceptuj</button>
            <div id="UpdateDeviceNameResult"></div>
        </dd>
        <dt>Cena za kWh:</dt>
        <dd>
            @Html.TextBoxFor(m => m.kwhPrice)
            <button id="UpdateKwhCost">Akceptuj</button>
            <div id="KwhCostUpdateResult"></div>
        </dd>

    </dl>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#UpdateDeviceName").click(function (e) {
            $.ajax({
                type: "POST",
                url: "/Manage/SetDevice",
                contentType: "application/json; charset=utf-8",
                data: '{"DeviceName":"' + $("#deviceName").val() + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    $("#UpdateDeviceNameResult").html(result);
                },
            });
            return false;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#UpdateKwhCost").click(function (e) {
            $.ajax({
                type: "POST",
                url: "/Manage/SetKwhPrice",
                contentType: "application/json; charset=utf-8",
                data: '{"kwhPrice":"' + $("#kwhPrice").val() + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    $("#KwhCostUpdateResult").html(result);
                },
            });
            return false;
        });
    });
</script>
