@{
    ViewBag.Title = "Szczegóły";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <img class="img-fluid" src="@Url.Action("Chart10m")" >
</p>

<p>
    <img class="img-fluid" src="@Url.Action("Chart1h")">
</p>

<p>
    <img class="img-fluid" src="@Url.Action("Chart6h")">
</p>


<p>
    <img class="img-fluid" src="@Url.Action("Chart1d")">
</p>
